<!DOCTYPE html>
<html lang ="en">
<head>
        <meta charset ="UTF-8">
        <title>HTML &amp CSS </title>
        <meta title = "og:title" content="Bitmaker Labs // HTML CSS intro">


	<style>
	h1 {
		color: tomato;
	}

	p { 
	color: red;
	color: orange;

	}
	</style>


</head>
<body>

<<!--  *comment
        <div id="header"</div>
-->

<header>
        <h1> HTML & CSS Intro</h1>                                 
        <h2> Everything you need to know about HTML & CSS</h2>
</header>

<nav>
        <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
</nav>

<main>
        <p>Lorem ipsum dolor sit amet, <a href="http://www.google.ca">consectetur</a> adipisicing elit. Accusantium rem itaque voluptate debitis voluptates id, quaerat, sit fuga aspernatur quos, sequi, est tempora. Distinctio repudiandae, placeat minima dignissimos explicabo harum.</p>

<article>
        <header>
                <h2> Subtitle </h2>
        </header>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias similique sequi placeat expedita iusto modi. Amet officiis ipsum laborum fuga aspernatur a quia, consectetur, earum incidunt impedit consequuntur, quidem.</p>
        </article>
</main>

<footer>
        <p>Bitmaker Labs ©2015</p>
</footer>

</body>
</html>